@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@using Microsoft.AspNetCore.Identity
@inject SignInManager<LiteDB.Identity.Models.LiteDbUser> SignInManager
@inject UserManager<LiteDB.Identity.Models.LiteDbUser> UserManager

@{
    string title = "";
    if( this.ViewData.TryGetValue( "Title", out object? titleModel ) )
    {
        title = titleModel?.ToString() ?? "";
    }

    Layout = "_Layout";
}

@model Jaller.Server.Models.BasePageModel;

@section extrahead {
    @RenderSection("extrahead", required: false)
}

@section scripts {
    @RenderSection("scripts", required: false)
}


<!-- Nav Bar -->
<div class="w3-container w3-theme" id="theTop">
    <nav class="w3-bar">
        <a href="/" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-home"></i> Home</a>
        <a href="/Search" class="w3-bar-item w3-button w3-padding-16"><i class="fa fa-search"></i> Search</a>
        <div class="w3-dropdown-hover">
            <button class="w3-button w3-padding-16">
                Account <i class="fa fa-caret-down"></i>
            </button>
            <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                @if( SignInManager.IsSignedIn( User ) )
                {
                    <a class="w3-bar-item w3-button" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage"><i class="fa-solid fa-user-gear"></i> Manage Account</a>
                    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                        <button type="submit" class="w3-bar-item w3-button"><i class="fa-solid fa-door-open"></i> Logout</button>
                    </form>
                }
                else
                {
                    @if( this.Model.AllowPublicRegistration )
                    {
                        <a class="w3-bar-item w3-button" asp-area="Identity" asp-page="/Account/Register"><i class="fa-solid fa-user-plus"></i> Register</a>
                    }
                    <a class="w3-bar-item w3-button" asp-area="Identity" asp-page="/Account/Login"><i class="fa-solid fa-user"></i> Login</a>
                }
            </div>
        </div>
        @if( Model.AllowAdminAccess )
        {
            <div class="w3-dropdown-hover">
                <button class="w3-button w3-padding-16">
                    Admin <i class="fa fa-caret-down"></i>
                </button>
                <div class="w3-dropdown-content w3-card-4 w3-bar-block">
                    <a href="/Admin" class="w3-bar-item w3-button"><i class="fa-solid fa-gear"></i> Dashboard</a>
                </div>
            </div>
        }
    </nav>
</div>

<!-- Header -->
<header class="w3-container w3-theme w3-padding">
    <div class="w3-center">
        <h1 class="w3-xxxlarge w3-animate-bottom">Jaller - An advanced IPFS Gateway</h1>
    </div>
</header>


<!-- Main Page  -->
<div>
    <article id="w3-container">
        <header class="w3-container w3-blue-grey">
            <h1>@title</h1>
        </header>
        <div class="w3-padding w3-white w3-display-container">
            @RenderSection("beforemain", required: false)
            
            <!-- Main Content -->
            @RenderBody()
        </div>
        <footer class="w3-container w3-blue-grey">
            <p>&nbsp;</p>
        </footer>
    </article>
</div>

<!-- Footer -->
<div id="footer-sec">
    <div class="row">
        <div class="col-md-4">
            <p class="footertitle"><strong>About Jaller</strong></p>
            <ul class="no-bullets">
                <li><a href="/About/License"><i class="fa-solid fa-gavel"></i> License</a></li>
                <li><a href="/About/Credits"><i class="fa-solid fa-users"></i> Third-Party Credits</a></li>
                <li><a href="https://github.com/xforever1313/jaller" target="_blank" rel="noopener noreferrer nofollow"><i class="fa fa-file-text"></i> View Source Code</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="footertitle"><strong>About IPFS</strong></p>
            <ul class="no-bullets">
                <li><a href="https://ipfs.tech/" target="_blank" rel="noopener noreferrer nofollow"><i class="fa-solid fa-earth-americas"></i> Website</a></li>
                <li><a href="https://github.com/ipfs" target="_blank" rel="noopener noreferrer nofollow"><i class="fa-brands fa-square-github"></i> IPFS GitHub</a></li>
                <li><a href="https://bsky.app/profile/ipfs.tech" target="_blank" rel="noopener noreferrer nofollow"><i class="fa-brands fa-bluesky"></i> IPFS Bluesky</a></li>
            </ul>
        </div>
        <div class="col-md-4">
            <p class="footertitle"><strong>Software Version</strong></p>
            <ul class="no-bullets">
                <li>- <strong>Core Version:</strong> @this.Model.JallerVersionInfo.CoreVersion</li>
                <li>- <strong>Contracts Version:</strong> @this.Model.JallerVersionInfo.ContractsVersion</li>
                <li>- <strong>Server Version:</strong> @this.Model.JallerVersionInfo.ServerVersion</li>
                <li>- <strong>Standard Version:</strong> @this.Model.JallerVersionInfo.StandardVersion</li>
            </ul>
        </div>
    </div>
</div>
