@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@{
    string title = "Untitled Page";
    if( this.ViewData.TryGetValue( "Title", out object? titleModel ) )
    {
        title = titleModel?.ToString() ?? title;
    }

    string? description = null;
    if( this.ViewData.TryGetValue( "Description", out object? descriptionModel ) )
    {
        description = descriptionModel?.ToString();
    }

    string? tags = null;
    if( this.ViewData.TryGetValue( "Tags", out object? tagModel ) )
    {
        tags = tagModel?.ToString();
    }
}
<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta content="en-us" http-equiv="Content-Language" />
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

    <!-- Title -->
    <title>@title</title>
    <meta property="og:title" content="@title" />

    <!-- Description -->
    @if( string.IsNullOrWhiteSpace( description ) == false )
    {
        <meta name="description" content="@description" />
        <meta property="og:description" content="@description" />
    }

    <!-- Tags -->
    @if( string.IsNullOrWhiteSpace( tags ) == false )
    {
        <meta name="keywords" content="@tags" />
    }

    <!-- Meta -->
    <meta property="og:site_name" content="Jaller - An Advanced IPFS Gateway" />
    <!-- TODO: figure out this: <meta property="og:url" content="https://bsatroop53.com/index.html" /> -->
    <meta property="og:type" content="article" />

    <!-- W3 Styles-->
    <link href="/css/w3.css" rel="stylesheet" />
    <link href="/css/w3-theme-orange.css" rel="stylesheet" />

    <!-- BOOTSTRAP STYLES -->
    <link href="/css/bootstrap.css" rel="stylesheet" />

    <!-- Binary Theme Styles -->
    <link href="/css/basic.css" rel="stylesheet" />
    <link href="/css/custom.css" rel="stylesheet" />

    <!-- Jaller-specific styles -->
    <link href="/css/jaller.css" rel="stylesheet" />

    <!-- Font-Awesome -->
    <link rel="stylesheet" href="/css/fa.fontawesome.min.css">
    <link rel="stylesheet" href="/css/fa.brands.min.css">
    <link rel="stylesheet" href="/css/fa.regular.min.css">
    <link rel="stylesheet" href="/css/fa.solid.min.css">
    <link rel="stylesheet" href="/css/fa.v5-font-face.min.css">

    @await RenderSectionAsync( "extrahead", required: false )
</head>
<body>
    @RenderBody()

    <!-- Page-specific scripts -->
    @await RenderSectionAsync( "scripts", required: false )
</body>
</html>
