@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@page
@model Jaller.Server.Pages.FileModel

@if( this.Model.JallerFile is null )
{
    ViewData["Title"] = "Can not find file";

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                @if( this.Model.ErrorMessage is not null )
                {
                    <p>@this.Model.ErrorMessage</p>
                }
                else
                {
                    <p>Unknown Error :(</p>
                }
            </div>
        </div>
    </div>
}
else
{
    ViewData["Title"] = this.Model.JallerFile.Name;
    string mimeType = this.Model.JallerFile.GetMimeType();

    <div class="row">
        <div class="col-md-12">
            <p><strong>CID V0:</strong> @( this.Model.CIDV0 ?? "Unknown" )</p>
            <p><strong>CID V1:</strong> @this.Model.JallerFile.CidV1</p>
            @if( string.IsNullOrEmpty( this.Model.JallerFile.Description ) == false )
            {
                <h3>Description</h3>
                <div>
                    @this.Html.Raw( MarkdownToHtmlConverter.Convert( this.Model.JallerFile.Description ) )
                </div>
            }

            @if( this.Model.JallerFile.DownloadablePolicy == DownloadPolicy.Public )
            {
                <div>
                    <a class="btn btn-success" href="/ipfs/@this.Model.JallerFile.CidV1" target="_blank">Download</a>
                </div>
            }
        </div>
    </div>

    <hr class="post-bottom-hr" />

    @if( string.IsNullOrWhiteSpace( this.Model.PreviewDocumentType ) == false )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Preview
                    </div>
                    <div class="panel-body">
                        @if( "image".EqualsIgnoreCase( this.Model.PreviewDocumentType ) )
                        {
                            <img class="mediapreview" src="/ipfs/@this.Model.JallerFile.CidV1" alt="@this.Model.JallerFile.Name" />
                        }
                        else if( "audio".EqualsIgnoreCase( this.Model.PreviewDocumentType ) )
                        {
                            <audio class="mediapreview" controls>
                                <source src="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" />
                                Your browser does not support the audio element.
                            </audio>
                        }
                        else if( "video".EqualsIgnoreCase( this.Model.PreviewDocumentType ) )
                        {
                            <video class="mediapreview" controls>
                                <source src="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" />
                                Your browser does not support the video element.
                            </video>
                        }
                        else if( "application/pdf".EqualsIgnoreCase( this.Model.PreviewDocumentType ) )
                        {
                            <object class="mediapreview" data="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" height="500">
                                <p>Unable to display PDF file, try downloading it directly instead.</p>
                            </object>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <hr class="post-bottom-hr" />

    @if( ( this.Model.JallerFile.Tags is not null ) && this.Model.JallerFile.Tags.Any() )
    {
        <div class="row">
            <div class="col-md-12">
                <h2>Tagged as:</h2>
                <ul class="tags">
                    @foreach( string tag in this.Model.JallerFile.Tags )
                    {
                        <li>@tag</li>
                    }
                </ul>
            </div>
        </div>
    }
}