@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@page
@model Jaller.Server.Pages.File.IndexModel

@if( this.Model.JallerFile is null )
{
    ViewData["Title"] = "Can not find file";

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger">
                @if( this.Model.ErrorMessage is not null )
                {
                    <p>@this.Model.ErrorMessage</p>
                }
                else
                {
                    <p>Unknown Error :(</p>
                }
            </div>
        </div>
    </div>
}
else
{
    ViewData["Title"] = this.Model.JallerFile.GetTitle();
    if( string.IsNullOrWhiteSpace( this.Model.JallerFile.Description ) == false )
    {
        ViewData["Description"] = this.Model.JallerFile.Description.NormalizeWhiteSpace();
    }
    string mimeType = this.Model.JallerFile.GetMimeType();

    <partial name="_FolderPath" model="this.Model.FolderPath" />

    @if( string.IsNullOrWhiteSpace( this.Model.RedirectMessage ) == false )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="alert alert-info">
                    @foreach( string message in this.Model.RedirectMessage.ReadLines() )
                    {
                        <p>@message</p>
                    }
                </div>
            </div>
        </div>
    }

    <div class="row">
        <div class="col-md-12">
            <p><strong>CID V0:</strong> @( this.Model.CIDV0 ?? "Unknown" )</p>
            <p><strong>CID V1:</strong> @this.Model.JallerFile.CidV1</p>
            @if( string.IsNullOrEmpty( this.Model.JallerFile.Description ) == false )
            {
                <h3>Description</h3>
                <div>
                    @this.Model.JallerFile.Description
                </div>
            }

            @if( this.Model.JallerFile.IsDownloadable( this.Model.User ) )
            {
                <div>
                    <a class="btn btn-success" href="/ipfs/@this.Model.JallerFile.CidV1" target="_blank"><i class="fa-solid fa-download"></i> Download</a>
                </div>
            }
        </div>
    </div>

    <hr class="post-bottom-hr" />

    <!-- DB Mime Type: @this.Model.JallerFile.MimeType -->
    <!-- Actual Mime Type: @this.Model.JallerFile.GetMimeType() -->

    @if( ( this.Model.PreviewDocumentType ?? RenderableMimeType.NotRenderable ) != RenderableMimeType.NotRenderable )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Preview
                    </div>
                    <div class="panel-body">
                        @if( this.Model.PreviewDocumentType == RenderableMimeType.Image )
                        {
                            <img class="mediapreview" src="/ipfs/@this.Model.JallerFile.CidV1" alt="@this.Model.JallerFile.Name" />
                        }
                        else if( this.Model.PreviewDocumentType == RenderableMimeType.Audio )
                        {
                            <audio class="mediapreview" controls>
                                <source src="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" />
                                Your browser does not support the audio element.
                            </audio>
                        }
                        else if( this.Model.PreviewDocumentType == RenderableMimeType.Video )
                        {
                            <video class="mediapreview" controls>
                                <source src="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" />
                                Your browser does not support the video element.
                            </video>
                        }
                        else if( this.Model.PreviewDocumentType == RenderableMimeType.Pdf )
                        {
                            <object class="mediapreview" data="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" height="500">
                                <p>Unable to display PDF file, try downloading it directly instead.</p>
                            </object>
                        }
                        else if( this.Model.PreviewDocumentType == RenderableMimeType.PlainText )
                        {
                            <object class="mediapreview" data="/ipfs/@this.Model.JallerFile.CidV1" type="@mimeType" height="500">
                                <p>Unable to display plain text file, try downloading it directly instead.</p>
                            </object>
                        }
                    </div>
                </div>
            </div>
        </div>
    }

    <hr class="post-bottom-hr"/>

    @if( string.IsNullOrWhiteSpace( this.Model.JallerFile.Details ) == false )
    {
        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        File Details
                    </div>
                    <div class="panel-body">
                        @this.Html.Raw( MarkdownToHtmlConverter.Convert( this.Model.JallerFile.Details ) )
                    </div>
                </div>
            </div>
        </div>
    }

    @if( ( this.Model.JallerFile.Tags is not null ) && this.Model.JallerFile.Tags.Any() )
    {
        ViewData["Tags"] = this.Model.JallerFile.Tags.ToHtmlDescriptionString();

        <hr class="post-bottom-hr" />

        <div class="row">
            <div class="col-md-12">
                <h2>Tagged as:</h2>
                <ul class="tags">
                    @foreach( string tag in this.Model.JallerFile.Tags )
                    {
                        <li><a href="/Search?query=@tag">@tag</a></li>
                    }
                </ul>
            </div>
        </div>
    }
    
    @if( this.Model.AllowMetadataEdit() )
    {
        <hr class="post-bottom-hr" />

        <div class="row">
            <div class="col-md-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h3>Manage File</h3>
                    </div>
                    <div class="panel-body">
                        <span>
                            <a href="/File/Edit?cid=@this.Model.JallerFile.CidV1" class="btn btn-warning" title="Edit file"><i class="fa-solid fa-gear"></i> Edit File</a>
                        </span>
                        <span>
                            <a href="/File/Delete?cid=@this.Model.JallerFile.CidV1" class="btn btn-danger" title="Delete folder"><i class="fa-solid fa-folder-minus"></i> Delete File</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    }
}
