@*
//
// Jaller - An advanced IPFS Gateway
// Copyright (C) 2025 Seth Hendrick
// 
// This program is free software: you can redistribute it and/or modify
// it under the terms of the GNU Affero General Public License as published
// by the Free Software Foundation, either version 3 of the License, or
// any later version.
// 
// This program is distributed in the hope that it will be useful,
// but WITHOUT ANY WARRANTY; without even the implied warranty of
// MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
// GNU Affero General Public License for more details.
// 
// You should have received a copy of the GNU Affero General Public License
// along with this program.  If not, see <https://www.gnu.org/licenses/>.
//
*@

@inject HttpClient httpCLient;
@inject ILogger<IpfsGatewayVersionInfo> log;

@if( versionInfo is null )
{
    <p>@versionLoadMessage</p>
}
else
{
    <p><strong>Version:</strong> @versionInfo.Version</p>
    <p><strong>Commit:</strong> @versionInfo.Commit</p>
    <p><strong>Repo:</strong> @versionInfo.Repo</p>
    <p><strong>Golang:</strong> @versionInfo.Golang</p>
    <p><strong>System:</strong> @versionInfo.System</p>
}

@code {
    // ---------------- Fields ----------------

    private string versionLoadMessage = "Loading version information...";

    /// <remarks>
    /// Static since it should never change, and we don't want to
    /// query the API every time the page loads.
    /// </remarks>
    private static IpfsVersionInfo? versionInfo = null;

    // ---------------- Methods ----------------

    protected override async Task OnInitializedAsync()
    {
        if( versionInfo is not null )
        {
            return;
        }

        HttpResponseMessage versionResponse = await this.httpCLient.GetAsync( "/api/ipfs_info/version.json" );
        if( versionResponse.IsSuccessStatusCode )
        {
            versionInfo = await versionResponse.Content.ReadFromJsonAsync<IpfsVersionInfo>();
            this.versionLoadMessage = "";
        }
        else
        {
            string errorString = await versionResponse.Content.ReadAsStringAsync();
            this.versionLoadMessage = $"Error getting version information: {errorString}";
        }
    }
}
